*, html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}
:root{
    --background: #01162b;
    --main: #ff6a5a;
    --main-hover: #ca5b4f;
    --text: #ededed;
}
body{
    background-color: var(--background);
}
.knowledge-title{
    color: var(--text);
    text-align: center;
    margin: 30px 0;
}
.knowledge-card-container{
    display: flex;
    justify-content: space-evenly;
}
.knowledge-card{
    width: 300px;
    height: 392px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: #0c1117;
    border: 0.1px solid rgb(82, 82, 82);
}
.knowledge-card h3{
    color: var(--text);
    text-align: center;
    font-weight: 600;
    margin: 20px 0;
    padding: 0 0 35px 0;
    border-bottom: 1px solid rgb(32, 32, 32);
}
.knowledge-card a{
    color: var(--text);
    text-decoration: none;
    font-weight: 500;
}
.knowledge-card a:hover{
    color: var(--main);
}

@media only screen and (max-width: 920px){
    .knowledge-card-container{
        flex-direction: column;
        align-items: center;
    }
    .knowledge-card{
        margin: 30px 0;
    }
}